* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}
html {
  font-size: 16px;
  background: #ffffff;
  --color-primary: #1f7a8c;
  --color-secondary: #022b3a;
  --color-warning: #ec7f00;
  --text-primary: #1d232e;
  --text-scondary: #19202c;
  --text-muted: #5c5c5c;
}

body {
  color: black;
  box-sizing: border-box;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.5rem;
  line-height: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.75rem;
}

button {
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 10px;
  border: 2px solid #022b3a;
  color: #022b3a;
  font-weight: 700;
}

.main-navbar {
  height: 116px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.main-navbar > .brand-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
}
.main-navbar > .brand-logo > img {
  width: 100%;
}

.main-navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar > ul > li > a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.main-navbar > .burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.main-navbar > .burger-menu > img {
  width: 30px;
}

.nav-download-btn {
  width: 12rem;
  height: 3.75rem;
  border: 2px solid #022b3a;
  background-color: #ffffff;
  cursor: pointer;
}

.drop-navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  transition: height 0.5s;
  overflow: hidden;
}

.drop-navbar-togel {
  height: 300px;
  overflow: hidden;
  border-bottom: 2px solid;
  border-color: #022b3a;
  transition: height 0.5s;
}

.drop-navbar > ul {
  list-style: none;
  flex-direction: column;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  overflow: hidden;
}

.drop-navbar > ul > li > a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.index-section-1 {
  box-sizing: border-box;
  width: 100%;
  max-height: 844px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 0px !important;
  background: linear-gradient(
    98.67deg,
    #f2fbfe 1.51%,
    #ffffff 54.38%,
    #edf7e4 110.67%
  );
}

.index-section-1-left {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}
.index-section-1-left > .section-1-title {
  background-color: red;
}
.index-section-1-left > .p-1 {
  color: var(--text-muted);
  font-size: 1.125rem;
}

.index-section-1 .btn-container {
  display: flex;
  gap: 20px;
}

.index-section-1-left .btn-appstore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 13.43rem;
  height: 4.25rem;
  color: white;
  background-color: var(--color-secondary);
  font-size: 1.75;
  font-weight: 653;
}

.index-section-1-left .btn-playstore {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 13.43rem;
  height: 4.25rem;
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  background-color: white;
  font-size: 1.75;
  font-weight: 653;
}

.index-section-1-left .user-count-container {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.index-section-1-left .user-count-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.index-section-1-left .user-count-container p {
  color: var(--text-muted);
  font-family: "Roboto", sans-serif;
  max-width: 5.5rem;
  font-size: 1rem;
}

.index-section-1-right {
  display: flex;
  justify-content: center;
}

.index-section-1-right > img {
  box-sizing: border-box;
  width: 100%;
}

.index-section-1-title {
  font-size: 1.5rem;
  color: #1f7a8c;
  font-weight: 788;
}

@media only screen and (max-width: 1200px) {
  .index-section-1 {
    grid-template-columns: auto;
  }
  .index-section-1-left {
    order: 2;
    padding-top: 40px;
  }
  .index-section-1-right {
    padding: 0px;
    order: 1;
  }
}

/* media queries */
/* media queries */

@media only screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
  .main-navbar > ul {
    gap: 20px;
    display: none;
  }
  .pading-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pading-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-navbar > .burger-menu {
    display: flex;
  }
  .drop-navbar {
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
  .main-navbar > ul {
    gap: 20px;
    display: none;
  }
  .pading-1 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pading-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-navbar > .burger-menu {
    display: flex;
  }
  .drop-navbar {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }
  .main-navbar > ul {
    gap: 20px;
    display: none;
  }
  .pading-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .pading-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-navbar > .burger-menu {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
  .main-navbar > ul {
    gap: 20px;
    display: flex;
  }
  .pading-1 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .pading-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-navbar > .burger-menu {
    display: none;
  }
  .drop-navbar {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 13px;
  }
  .main-navbar > ul {
    gap: 40px;
  }
  .pading-1 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .pading-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
  .main-navbar > ul {
    gap: 60px;
  }
  .pading-1 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .pading-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 16px;
  }
  .main-navbar > ul {
    gap: 80px;
  }
  .pading-1 {
    padding-right: 100px;
    padding-left: 100px;
  }
  .pading-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
